<div class="topnav">
    <a class="logo" href="#home">EX2</a>
    <a *ngIf="isLoggedIn()" [routerLink]="['/dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Dashboard</a>
    <a *ngIf="isLoggedIn()" [routerLink]="['/users']" routerLinkActive="active" >Users</a>
    <a *ngIf="isLoggedIn()" href="#Items">Items</a>
    <div class="topnav-right">  
      <a *ngIf="!isLoggedIn()"  [routerLink]="[ '/login' ]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Login</a>
      <a *ngIf="isLoggedIn()" (click)="doLogout()">Logout</a>
      <a *ngIf="isLoggedIn()" href="#Profile">Profile</a>
    </div>
</div>
{{isLoggedIn()}}