<div class="dashboard-wrapper container">
  <div class="row">
  <div class="card col-sm border-blue shadow-blue" [routerLink]="['/users']"  >
    <div class="card-body">
      <span class="card-head head-blue shadow-blue">
        <i class="fa fa-users"></i>
      </span>
      <p class="users">
        {{totalUsers}} Users
      </p>
    </div>
  </div>
  <div class="card col-sm border-pink shadow-pink">
    <div class="card-body">
        <span class="card-head head-pink shadow-pink">
            <i class="fa fa-user"></i>
          </span>
      <user-profile></user-profile>
    </div>
  </div>
</div>
</div>