<div class="users-list container">
  <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search" autofocus>
  <table class="table table-striped table-condensed">
    <tr class="center header">
      <th>Employee Code</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
    <tr class="center" *ngFor="let user of users | filter:searchText">
      <td>{{user.employee_code}}</td>
      <td>{{getName(user)}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
    </tr>
  </table>
</div>